USE [MedicalChartsETL]
GO

/****** Object:  Table [Gryff].[leftcharts] ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [Gryff].[leftcharts] ([chartname] [varchar](60) NULL) ON [PRIMARY]
GO

/****** Object:  Table [Huffle].[leftcharts] ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [Huffle].[leftcharts] ([chartname] [varchar](60) NULL) ON [PRIMARY]
GO

/****** Object:  Table [Raven].[leftcharts] ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [Raven].[leftcharts] ([chartname] [varchar](60) NULL) ON [PRIMARY]
GO


