USE [MedicalChartsETL]
GO

/****** Object:  Table [Gryff].[chartlookup] ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [Gryff].[chartlookup] ([chartname] [varchar](60) NULL) ON [PRIMARY]
GO

/****** Object:  Table [Huffle].[chartlookup] ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [Huffle].[chartlookup] ([chartname] [varchar](60) NULL) ON [PRIMARY]
GO

/****** Object:  Table [Raven].[chartlookup] ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [Raven].[chartlookup] ([chartname] [varchar](60) NULL) ON [PRIMARY]
GO


